Repository ayhanbodrum/yalihan-cortex: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, eslint, prettier, detect-secrets, sql-injection-check

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # PHP Code Quality
  - repo: local
    hooks:
      # PHP Syntax Check
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        files: \.php$

      # Laravel Blade Syntax Check
      - id: blade-syntax-check
        name: Blade Syntax Check
        entry: php artisan view:clear
        language: system
        files: \.blade\.php$
        pass_filenames: false

      # CSS Class Validation
      - id: css-class-validator
        name: CSS Class Validator
        entry: bash scripts/check-css-classes.sh
        language: system
        files: \.blade\.php$
        pass_filenames: false

      # Validation Rules Consistency
      - id: validation-consistency
        name: Validation Rules Consistency
        entry: php artisan validate:consistency
        language: system
        files: (Controller\.php|Request\.php)$
        pass_filenames: false

  # Frontend Quality
  - repo: local
    hooks:
      # ESLint for JavaScript
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|ts|vue)$

      # Prettier for Code Formatting
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: node
        files: \.(js|ts|css|scss|json|md)$

  # General Code Quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Remove trailing whitespace
      - id: trailing-whitespace
        exclude: \.md$

      # Ensure files end with newline
      - id: end-of-file-fixer

      # Check for large files
      - id: check-added-large-files
        args: ['--maxkb=1000']

      # Check YAML syntax
      - id: check-yaml

      # Check JSON syntax
      - id: check-json

      # Prevent commit to main branch
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'production']

  # Security Checks
  - repo: local
    hooks:
      # Check for secrets
      - id: detect-secrets
        name: Detect Secrets
        entry: bash scripts/check-secrets.sh
        language: system
        files: \.(php|js|env|yml|yaml)$

      # SQL Injection Check
      - id: sql-injection-check
        name: SQL Injection Check
        entry: bash scripts/check-sql-injection.sh
        language: system
        files: \.php$

perf: Add missing eager loading relationships in IlanController
  app/Http/Controllers/Admin/IlanController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

refactor: Migrate simple neo-* utility classes to Tailwind CSS
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/layouts/admin.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate remaining utility neo-* classes to Tailwind CSS
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/admin/layouts/neo.blade.php
  resources/views/admin/ozellikler/create.blade.php
  resources/views/admin/talep-portfolyo/index.blade.php
  resources/views/admin/users/create.blade.php
  resources/views/components/admin/neo-loading.blade.php
  resources/views/components/context7/sidebar.blade.php
  resources/views/components/gelismis-ilan-arama.blade.php
  resources/views/components/ilan-success-modal.blade.php
  resources/views/components/ilan/feature-drag-sort.blade.php
  resources/views/components/neo/empty-state.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
  resources/views/layouts/admin.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate color, spacing, and utility neo-* classes to Tailwind
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/layouts/admin.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate form and component neo-* classes to Tailwind
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/admin/blog/index.blade.php
  resources/views/admin/eslesmeler/create.blade.php
  resources/views/admin/etiketler/index.blade.php
  resources/views/admin/layouts/neo.blade.php
  resources/views/admin/settings/index.blade.php
  resources/views/admin/takim-yonetimi/gorevler/index.blade.php
  resources/views/admin/tip-yonetimi/index.blade.php
  resources/views/components/context7/table.blade.php
  resources/views/components/context7/table/cell.blade.php
  resources/views/components/context7/table/header.blade.php
  resources/views/components/context7/table/row.blade.php
  resources/views/components/neo-select.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
  resources/views/modules/takimyonetimi/admin/gorevler/index.blade.php
  resources/views/profile/edit.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate form layout and typography neo-* classes to Tailwind
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/admin/blog/index.blade.php
  resources/views/admin/danisman/edit.blade.php
  resources/views/admin/eslesmeler/create.blade.php
  resources/views/admin/etiket/index.blade.php
  resources/views/admin/ozellikler/create.blade.php
  resources/views/admin/settings/index.blade.php
  resources/views/admin/tip-yonetimi/index.blade.php
  resources/views/components/neo-input.blade.php
  resources/views/components/neo-select.blade.php
  resources/views/components/unified-location-selector.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate remaining component neo-* classes to Tailwind
  resources/views/admin/analytics/dashboard.blade.php
  resources/views/admin/layouts/neo.blade.php
  resources/views/admin/ozellikler/create.blade.php
  resources/views/components/admin/neo-toast.blade.php
  resources/views/components/context7/sidebar.blade.php
  resources/views/components/voice-search-button.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate modal, sidebar, and special component neo-* classes to Tailwind
  resources/views/admin/layouts/neo.blade.php
  resources/views/admin/talep-portfolyo/index.blade.php
  resources/views/components/context7/modal.blade.php
  resources/views/components/context7/sidebar.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate form layout, mobile, and UI component neo-* classes to Tailwind
  resources/views/admin/components/context7-components.blade.php
  resources/views/admin/layouts/navigation.blade.php
  resources/views/components/unified-location-selector.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate AI, location, and service component neo-* classes to Tailwind
  resources/views/admin/page-analyzer/dashboard.blade.php
  resources/views/components/crm/ai-suggestion.blade.php
  resources/views/components/unified-location-selector.blade.php
  resources/views/frontend/dynamic-form/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Migrate final remaining neo-* classes to Tailwind
  resources/views/admin/takim-yonetimi/takim/performans.blade.php
  resources/views/components/admin/neo-loading.blade.php
  resources/views/components/admin/neo-skeleton.blade.php
  resources/views/components/admin/neo-toast.blade.php
  resources/views/layouts/admin.blade.php
  resources/views/vendor/admin-theme/layouts/app.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Fix remaining neo-* class issues and complete Tailwind migration
  resources/views/admin/ai-monitor/index.blade.php
  resources/views/admin/etiket/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

fix: Dashboard undefined array key hatası düzeltildi
  app/Http/Controllers/Admin/DashboardController.php
  storage/framework/sessions/ME1GnPbbkl3WSO1S0sV2PvK03rL6yp1qdp4xSYqf
  storage/framework/sessions/XHQL09KyqIJsIcSXfpl35k4TovzUCd1xdj5oSBGH
  storage/framework/sessions/x61iuvt8SmviDS8XErnrWq1hGHMlGEkVYQp0oVvo
  storage/framework/sessions/xrED9KW5gaoa9Hk9eOC3UiPjMu3atj9wpCH9qCC1
  storage/framework/views/84c0711aacb662c82a1bd34e98e9158e.php
  storage/framework/views/b952daff984ebeb5c036afa45eb87c54.php
  storage/framework/views/ca98a08100a056119c473b549791e6d8.php
  storage/framework/views/ebc3641438341eda0a7ef3b32bf4ab6f.php
  storage/framework/views/ef5bcd2bf45719e4825fe5071db259c4.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

fix: admin.fixed component hatası düzeltildi
  resources/views/admin/layouts/neo.blade.php
  resources/views/components/admin/neo-toast.blade.php
  storage/framework/sessions/nEfrLFHv7RFkr5lRZ6l5z8a72Bq8tKfr6JJ6K9Xn
  storage/framework/views/ef5bcd2bf45719e4825fe5071db259c4.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

fix: Layout'ta geçersiz CSS link'leri temizlendi (Context7 uyumlu)
  storage/framework/sessions/xrED9KW5gaoa9Hk9eOC3UiPjMu3atj9wpCH9qCC1
  storage/framework/views/113170b0a1e4f717ed291a1928867154.php
  storage/framework/views/ee9eae8b5aad11c36e48f4fa0ac91cd7.php
  storage/framework/views/f9b16a6ea842caca8e8344efa6a558d1.php
Due: php-syntax-check, detect-secrets, sql-injection-check

fix: Property yayin_tipi ve View notifications.test hataları düzeltildi
  app/Http/Controllers/Admin/NotificationController.php
  app/Http/Controllers/Admin/PropertyTypeManagerController.php
  routes/admin.php
  storage/framework/sessions/XHQL09KyqIJsIcSXfpl35k4TovzUCd1xdj5oSBGH
  storage/framework/sessions/xrED9KW5gaoa9Hk9eOC3UiPjMu3atj9wpCH9qCC1
  storage/framework/views/1d9788d6a1770acd402b45847674bf08.php
  storage/framework/views/23d8490708edafb0623e3c86bb6d9c0f.php
  storage/framework/views/2dd794f2ae1d3429526de3de9b2197ae.php
  storage/framework/views/384de7535be7c959e3c34a79e61e8deb.php
  storage/framework/views/4ca069644ebe6dbaa20879053bce2f2b.php
  storage/framework/views/590953d43c6ba142040c115a385c4510.php
  storage/framework/views/60304b84c1bdfc0e2653c5bc8292309d.php
  storage/framework/views/6e28e4faaa22a7adff4f07a2bc9b81de.php
  storage/framework/views/7c8f06d661767564f88313aeb3db47a8.php
  storage/framework/views/800faefd9564ea920e1f66080ba54f3a.php
  storage/framework/views/84c0711aacb662c82a1bd34e98e9158e.php
  storage/framework/views/9093ee3009933bf6d68d3fb89e53afc2.php
  storage/framework/views/b1178f6bf7efb4d50999c57eb89dd582.php
  storage/framework/views/b952daff984ebeb5c036afa45eb87c54.php
  storage/framework/views/ba9ff9477b31be30e60e4a848d330e96.php
  storage/framework/views/c62b04ee7afdc8f48030c0e347bfeec0.php
  storage/framework/views/c6ceffec3a6cf6ec91601aec1097017e.php
  storage/framework/views/ca98a08100a056119c473b549791e6d8.php
  storage/framework/views/d04fba579385b7874d94d01798da6ad7.php
  storage/framework/views/d0da766b825df8aad564134079257ed6.php
  storage/framework/views/da0435b70f3850b21aaa079e2c36986b.php
  storage/framework/views/ddda7add9ef99face3c05503c992bf87.php
  storage/framework/views/e47d365fa9c73d07e50600d9e16e9d6c.php
  storage/framework/views/ebc3641438341eda0a7ef3b32bf4ab6f.php
  storage/framework/views/ecaa3d91cc6db2a43c355e6113b49adf.php
  storage/framework/views/ee9eae8b5aad11c36e48f4fa0ac91cd7.php
  storage/framework/views/ef5bcd2bf45719e4825fe5071db259c4.php
  storage/framework/views/f11ed1d74916011f2737d0a34aeec251.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

fix: Property erişiminde null-safe kullanım eklendi
  resources/views/admin/property-type-manager/show.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: MiniMax AI Provider entegrasyonu eklendi
  app/Http/Controllers/Admin/AISettingsController.php
  app/Services/AIService.php
  config/ai.php
  resources/views/admin/ai-settings/index.blade.php
  storage/framework/sessions/XHQL09KyqIJsIcSXfpl35k4TovzUCd1xdj5oSBGH
  storage/framework/views/0068b527387a1e15c99fdcf1e137261b.php
  storage/framework/views/00c9233e6582218f1a169da4f760afa4.php
  storage/framework/views/09cbb2fca6b69c14b1ed684e529e14d6.php
  storage/framework/views/27e54e6629bd6c393afcfd1a15dc8c3a.php
  storage/framework/views/623dd947d391d62e9096d31e720f3d91.php
  storage/framework/views/70c4d51383322db21fe3922a122a768e.php
  storage/framework/views/b6742777c944a45480a1632d054c6d23.php
  storage/framework/views/d1af98984913b2ed008a45f2428c3ed8.php
  storage/framework/views/d39a99a9f9c5cfc130c9fa6d9b054911.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, detect-secrets, sql-injection-check

feat: Site Ayarları Sistemi Birleştirme ve Standartlaştırma
  .context7/SETTINGS_SYSTEM_STANDARDS.md
  .context7/authority.json
  .yalihan-bekci/knowledge/settings-system-merge-2025-11-05.json
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Admin/UserSettingsController.php
  app/Models/SiteSetting.php
  app/Modules/TakimYonetimi/Controllers/Admin/TelegramBotController.php
  database/seeders/Context7ModuleSeeder.php
  database/seeders/InitialSettingsSeeder.php
  resources/views/admin/analytics/dashboard.blade.php
  resources/views/admin/settings/index.blade.php
  resources/views/admin/takim-yonetimi/takim/index.blade.php
  routes/admin.php
  storage/framework/views/04b2da1103d5537e7965a45d6298f670.php
  storage/framework/views/0b22e7b0a226469780b90abea77c40d6.php
  storage/framework/views/121f7cc6f37a883c7cadd708d70c22a1.php
  storage/framework/views/2fd02b11bd937bbb6c31f73ff5d312cf.php
  storage/framework/views/4b8597adf3bb6e3cd6190ba42b8f9385.php
  storage/framework/views/aeb7f7d65eaa44b8455b5c387230860c.php
  storage/framework/views/d6208bd0cfb7ea4e01bc1880a1498540.php
  storage/framework/views/dceccd342f4b00341e198b4dd8b373e7.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, prettier, detect-secrets, sql-injection-check

fix: admin.settings.update route hatası düzeltildi
  resources/views/admin/settings/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: Admin Ayarlar Sayfası Modern Tasarım Güncellemesi
  resources/views/admin/settings/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

fix: getSelectedByCategory() PHP fonksiyonu hatası düzeltildi
  resources/views/components/feature-categories-modal.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat(frontend): add ai assistant ctas and refresh contact form
  resources/views/components/yaliihan/contact-page.blade.php
  resources/views/yaliihan-home-clean.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

fix(frontend): add fallback modals and improve modal handling
  resources/views/yaliihan-home-clean.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat(frontend): wire contact cta and populate property modals
  resources/views/yaliihan-home-clean.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

fix(frontend): guard map component when api key missing
  resources/views/components/yaliihan/map-component.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor(frontend): sync property card actions with modal system
  resources/views/components/yaliihan/property-card.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat(yalihan-bekci): add git commit suggester system
  .githooks/pre-commit
  .yalihan-bekci/knowledge/git-commit-frequency-standards-2025-11-13.json
  .yalihan-bekci/knowledge/git-commit-suggester-usage.md
  .yalihan-bekci/tools/git-commit-suggester.sh
  app/Http/Controllers/Api/BookingRequestController.php
  app/Http/Controllers/Api/SeasonController.php
  app/Http/Controllers/Frontend/HomeController.php
  app/Models/Feature.php
  app/Models/MusteriNot.php
  app/Services/AIPromptManager.php
  resources/views/components/yaliihan/property-card.blade.php
  resources/views/yaliihan-home-clean.blade.php
  routes/web.php
  scripts/context7-full-scan.sh
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, prettier, detect-secrets, sql-injection-check

chore: Add temporary files to .gitignore
  .gitignore
Due: none

feat: Global status field standardization
  .context7/STATUS_COLUMN_GLOBAL_STANDARD.md
  app/Enums/IlanStatus.php
  app/Http/Controllers/Admin/IlanController.php
  app/Http/Controllers/Admin/MyListingsController.php
  app/Traits/Filterable.php
  database/migrations/2025_11_22_152324_convert_status_to_boolean_in_ilan_kategorileri_table.php
  database/migrations/2025_11_22_152526_fix_all_status_columns_to_boolean_global_fix.php
  yalihan-bekci/knowledge/status-column-global-standard-2025-11-22.json
  yalihan-bekci/reports/status-column-global-standardization-2025-11-22.md
Due: php-syntax-check, validation-consistency, prettier, detect-secrets, sql-injection-check

feat: Dynamic AI model selection and real AI integration
  app/Http/Controllers/Admin/AI/IlanAIController.php
  app/Http/Controllers/Admin/AISettingsController.php
  app/Http/Controllers/Admin/SystemMonitorController.php
  app/Services/AI/OllamaService.php
  resources/js/admin/ai-register.js
  resources/views/admin/ai-settings/index.blade.php
  vite.config.js
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, eslint, prettier, detect-secrets, sql-injection-check

feat: UX improvements for listing forms
  resources/views/admin/ilanlar/components/features-dynamic.blade.php
  resources/views/admin/ilanlar/components/field-dependencies-dynamic.blade.php
  resources/views/admin/ilanlar/components/key-management.blade.php
  resources/views/admin/ilanlar/components/owner-private-audits.blade.php
  resources/views/admin/ilanlar/components/owner-private.blade.php
  resources/views/admin/ilanlar/components/photo-upload-manager.blade.php
  resources/views/admin/ilanlar/components/smart-field-organizer.blade.php
  resources/views/admin/ilanlar/create.blade.php
  resources/views/admin/ilanlar/edit.blade.php
  resources/views/admin/ilanlar/index.blade.php
  resources/views/admin/ilanlar/my-listings.blade.php
  resources/views/admin/ilanlar/partials/stable/_kisi-secimi.blade.php
  resources/views/admin/ilanlar/show.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

refactor: Simplify map controls
  resources/views/components/context7/map-picker.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

docs: Update documentation for recent changes
  .context7/authority.json
  docs/active/AI_ASSISTANT_DATA_SOURCES_2025_11_22.md
  docs/active/ANALIZ_VE_GELISIM_FIRSATLARI.md
  docs/active/BIRLESTIRME_ONERILERI_2025-11-20.md
  docs/active/ILAN_FORM_DEEP_ANALYSIS_2025_11_22.md
  docs/active/ILAN_PAGES_COMPREHENSIVE_AUDIT_2025_11_22.md
  docs/active/PROJE_CALISMA_SISTEMI_VE_GELISIM_PLANI.md
  docs/active/PROJE_DURUM_VE_TAMAMLAMA_OZETI_2025-11.md
  docs/active/PROJE_VIZYON_VE_UYGULAMA_PLANI_2025.md
  docs/active/README.md
  docs/active/SYSTEM-STATUS-2025.md
  docs/active/YARIM_KALMIS_PLANLAMALAR.md
Due: prettier

fix: Various bug fixes and improvements
  app/Http/Controllers/Admin/AyarlarController.php
  app/Http/Controllers/Admin/DanismanController.php
  app/Http/Controllers/Api/FeatureController.php
  resources/views/errors/401.blade.php
  resources/views/errors/402.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/layout.blade.php
  resources/views/errors/minimal.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, detect-secrets, sql-injection-check

docs: Add commit strategy documentation
  COMMIT_STRATEGY.md
Due: prettier

chore: Add more temporary files to .gitignore
  .gitignore
Due: none
