Repository ayhanbodrum/yalihan-cortex: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, context7-order-check, eslint, prettier, detect-secrets, sql-injection-check

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # PHP Code Quality
  - repo: local
    hooks:
      # PHP Syntax Check
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        files: \.php$

      # Laravel Blade Syntax Check
      - id: blade-syntax-check
        name: Blade Syntax Check
        entry: php artisan view:clear
        language: system
        files: \.blade\.php$
        pass_filenames: false

      # CSS Class Validation
      - id: css-class-validator
        name: CSS Class Validator
        entry: bash scripts/check-css-classes.sh
        language: system
        files: \.blade\.php$
        pass_filenames: false

      # Validation Rules Consistency
      - id: validation-consistency
        name: Validation Rules Consistency
        entry: php artisan validate:consistency
        language: system
        files: (Controller\.php|Request\.php)$
        pass_filenames: false

      # Context7 Order Column Check
      - id: context7-order-check
        name: Context7 Order Column Check
        entry: bash scripts/check-order-column.sh
        language: system
        files: (migrations|Models).*\.php$
        pass_filenames: true

  # Frontend Quality
  - repo: local
    hooks:
      # ESLint for JavaScript
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|ts|vue)$

      # Prettier for Code Formatting
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: node
        files: \.(js|ts|css|scss|json|md)$

  # General Code Quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Remove trailing whitespace
      - id: trailing-whitespace
        exclude: ^storage/framework/views/|^\.yalihan-bekci/learned/|^yalihan-bekci/learned/|\.md$

      # Ensure files end with newline
      - id: end-of-file-fixer
        exclude: ^storage/framework/views/|^\.yalihan-bekci/learned/|^yalihan-bekci/learned/

      # Check for large files
      - id: check-added-large-files
        args: ['--maxkb=1000']

      # Check YAML syntax
      - id: check-yaml

      # Check JSON syntax
      - id: check-json
        exclude: ^(.yalihan-bekci|yalihan-bekci)/knowledge/.*\.json$|^(.yalihan-bekci|yalihan-bekci)/learned/.*\.json$

      # Prevent commit to main branch
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'production']

  # Security Checks
  - repo: local
    hooks:
      # Check for secrets
      - id: detect-secrets
        name: Detect Secrets
        entry: bash scripts/check-secrets.sh
        language: system
        files: \.(php|js|env|yml|yaml)$

      # SQL Injection Check
      - id: sql-injection-check
        name: SQL Injection Check
        entry: bash scripts/check-sql-injection.sh
        language: system
        files: \.php$

  - repo: local
    hooks:
      - id: yalihan-bekci-commit-suggester
        name: Yalıhan Bekçi Commit Suggester
        entry: bash .yalihan-bekci/tools/git-commit-suggester.sh --suggest --warn
        language: system
        pass_filenames: false

feat: Add new database migrations and seeders
  database/migrations/2025_11_06_000002_add_performance_indexes.php
  database/migrations/2025_11_15_150500_add_owner_private_encrypted_to_ilanlar_table.php
  database/migrations/2025_11_15_160000_create_ilan_private_audits_table.php
  database/migrations/2025_11_16_083900_add_indexes_to_ilanlar_table.php
  database/migrations/2025_11_16_091500_add_composite_indexes_ilanlar.php
  database/migrations/2025_11_16_093000_add_ulke_and_citizenship_columns_to_ilanlar.php
  database/migrations/2025_11_16_120500_add_tc_kimlik_encrypted_to_kisiler_table.php
  database/migrations/2025_11_17_120000_create_ilan_dokumanlar_table.php
  database/migrations/2025_11_17_120100_make_slug_nullable_on_ilanlar.php
  database/migrations/2025_11_17_120200_change_status_to_string_on_ilan_kategorileri.php
  database/migrations/2025_11_17_120300_add_fields_to_talepler_table.php
  database/migrations/2025_11_17_120400_add_kisi_notlari_to_kisiler_table.php
  database/migrations/2025_11_17_120500_add_description_to_roles_table.php
  database/migrations/2025_11_17_120600_update_talepler_defaults.php
  database/migrations/2025_11_17_120700_update_defaults_kisiler_talepler.php
  database/migrations/2025_11_17_120800_add_talep_id_to_ilanlar_table.php
  database/migrations/2025_11_17_130000_alter_fiyat_to_decimal_on_ilanlar.php
  database/migrations/2025_11_19_144200_rename_durum_to_status_in_yazlik_doluluk_durumlari.php
  database/migrations/2025_11_19_150001_add_crm_only_to_ilanlar_table.php
  database/migrations/2025_11_19_160001_create_ilan_goruntulenme_gunluk_table.php
  database/migrations/2025_11_20_143942_create_ai_ilan_taslaklari_table.php
  database/migrations/2025_11_20_143945_create_ai_messages_table.php
  database/migrations/2025_11_20_143946_create_ai_contract_drafts_table.php
  database/migrations/2025_11_20_143946_create_ai_conversations_table.php
  database/migrations/2025_11_20_145024_create_communications_table.php
  database/migrations/2025_11_20_145127_create_a_i_land_plot_analyses_table.php
  database/migrations/2025_11_20_145127_create_ai_land_plot_analyses_table.php
  database/seeders/BodrumArsaYazlikSeeder.php
  database/seeders/BodrumSeeder.php
  database/seeders/Category39YazlikSeeder.php
  database/seeders/Context7MasterSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/FeatureAssignmentSyncSeeder.php
  database/seeders/GoldenVisaPortfolioSeeder.php
  database/seeders/PropertyTypeDefaultFieldsSeeder.php
  database/seeders/YayinTipleriMasterSeeder.php
  database/seeders/YazlikFeaturesSeeder.php
  database/seeders/YazlikFieldDependenciesSeeder.php
Due: php-syntax-check, context7-order-check, detect-secrets, sql-injection-check

docs: Add Context7 and Yalihan Bekçi documentation
  .context7/FORBIDDEN_PATTERNS.md
  .context7/README.md
  .context7/standards/CURSOR_MCP_SETUP.md
  .context7/standards/ENABLED_FIELD_FORBIDDEN.md
  .context7/standards/LOCATION_MAHALLE_ID_STANDARD.md
  .context7/standards/ORDER_DISPLAY_ORDER_STANDARD.md
  .context7/standards/ROUTE_NAMING_STANDARD.md
  .yalihan-bekci/README.md
Due: prettier

chore: Ignore archive folders and JSON reports
  .gitignore
Due: none

chore: Add GitHub workflows and Warp documentation
  .github/workflows/ci-tests.yml
  .github/workflows/context7-mcp-latest.yml
  .github/workflows/jquery-scan.yml
  .github/workflows/mcp-smoke.yml
  .warp/README.md
  .warp/rules/context7-compliance.md
  .warp/rules/master-project-prompt.md
  .warp/rules/usage-examples.md
Due: prettier, detect-secrets

docs: Add root-level documentation files
  ADMIN_ILANLAR_CREATE_SAYFASI_CONTEXT7_PLAN_2025-11-22.md
  ADMIN_ILANLAR_SAYFASI_IYILESTIRME_ONERILERI_2025-11-12.md
  ADMIN_ILANLAR_SHOW_SAYFASI_ANALIZ_2025-11-12.md
  ARŞIV_DOSYALARI_ANALIZI_2025-11-21.md
  DOSYA_GEREKSIZLIK_ANALIZI_2025-11-21.md
  MASTER_PROMPT_YALIHAN_EMLAK_AI.md
  STANDART_DOSYALARI_ANALIZI_2025-11-21.md
Due: prettier

feat: Add console commands, enums, events and middleware
  app/Console/Commands/CheckLinkHealth.php
  app/Console/Commands/InvalidateInternationalCache.php
  app/Console/Commands/ReportOwnerPrivateAudit.php
  app/Console/Commands/StandardCheckCommand.php
  app/Enums/TalepStatus.php
  app/Events/PublicationTypeDeleted.php
  app/Events/PublicationTypeReassigned.php
  app/Http/Controllers/ContactController.php
  app/Http/Controllers/HybridController.php
  app/Http/Middleware/AuditTrailMiddleware.php
  app/Http/Middleware/CanonicalQueryParameters.php
  app/Http/Middleware/HttpErrorLogger.php
  app/Http/Middleware/RequestIdMiddleware.php
  app/Http/Middleware/SecureHeaders.php
  app/Http/Middleware/SecurityMiddleware.php
  app/Http/Middleware/StaticCacheHeaders.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

feat: Add traits, observers, policies and providers
  app/Models/Traits/EncryptsAttributes.php
  app/Observers/AuditObserver.php
  app/Observers/InternationalCacheObserver.php
  app/Policies/IlanPolicy.php
  app/Providers/AdminMenuServiceProvider.php
Due: php-syntax-check, context7-order-check, detect-secrets, sql-injection-check

🔧 Workspace dosyalarını birleştir ve Context7 uyumlu hale getir
  yalihanai.code-workspace
Due: none

Initial commit
  README.md
Due: prettier

Remove workflow files temporarily (workflow scope not available)
  GITHUB_PUSH_REHBERI.md
  resources/views/components/admin/header/notification-dropdown.blade.php
  scripts/test-telegram-bot.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, prettier, detect-secrets, sql-injection-check

feat(cortex): Arsa Opportunity Simulation test sistemi
  backup_before_migration_20251111_134112.sql
Due: none

feat(health): Queue worker monitoring ve health check API endpoints
  app/Console/Commands/CheckQueueWorker.php
  app/Console/Kernel.php
  app/Http/Controllers/AI/AdvancedAIController.php
  config/services.php
  routes/api/v1/admin.php
  routes/api/v1/ai.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

feat(telegram): Rate limiting ve deploy optimizasyonları
  app/Services/TelegramService.php
  scripts/deploy-cortex.sh
Due: php-syntax-check, detect-secrets, sql-injection-check

chore: Dosya temizliği ve konfigürasyon güncellemeleri
  .env.example
  .gitignore
  GITHUB_PUSH_REHBERI.md
  docs/architecture/PRODUCTION_ARCHITECTURE.md
  scripts/telegram-webhook-fix.php
Due: php-syntax-check, prettier, detect-secrets, sql-injection-check

docs: Modül dokümantasyonları ve architecture iyileştirmeleri
  app/Http/Controllers/Api/Admin/MenuItemsController.php
  app/Modules/Analitik/README.md
  app/Modules/Auth/README.md
  app/Modules/BaseModule/README.md
  app/Modules/Crm/README.md
  app/Modules/Emlak/README.md
  app/Modules/Finans/README.md
  app/Modules/TakimYonetimi/README.md
  app/Modules/Talep/README.md
  docs/architecture/MODULE_DEPENDENCIES.md
  docs/architecture/NEXT_STEPS_BENEFITS.md
  docs/architecture/ROUTE_OPTIMIZATION.md
  docs/deployment/ROUTE_CACHE_GUIDE.md
  docs/deployment/SUNUCU_DEPLOYMENT_REHBERI.md
  docs/improvements/IMPLEMENTATION_COMPLETE_2025-12-01.md
  resources/views/admin/layouts/sidebar-content.blade.php
  resources/views/admin/layouts/sidebar-optimized.blade.php
  scripts/optimize-production.sh
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, prettier, detect-secrets, sql-injection-check

🗺️ Harita Sistemi Temizliği + Blade Optimizasyon Başlangıcı
  public/js/admin/components/modern-address-system-v4.js
  public/js/admin/location-helper.js
  public/js/advanced-leaflet-integration.js
  public/js/context7-location-adapter.js
  public/js/context7-location-system.js
  public/js/leaflet-integration.js
  public/js/unified-location-manager.js
  resources/views/admin/components/google-maps-setup-guide.blade.php
  resources/views/admin/ilanlar/components/form-header.blade.php
  resources/views/admin/ilanlar/components/form-progress.blade.php
  resources/views/components/context7/map-picker.blade.php
  resources/views/components/yaliihan/map-component.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, eslint, prettier, detect-secrets, sql-injection-check

✨ Blade Optimizasyon Component'leri + Günlük Rapor
  resources/views/admin/ilanlar/components/sticky-navigation.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

📊 Günlük Başarı Raporu - 2 Aralık 2025
  BUGUNKU_BASARILAR_2025_12_02.md
Due: prettier

✅ Context7 Violation Çözümü - Musteri* Model Temizliği
  app/Models/Kisi.php
  app/Models/Musteri.php
  app/Models/MusteriAktivite.php
  app/Models/MusteriEtiket.php
  app/Models/MusteriNot.php
  app/Models/MusteriTakip.php
Due: php-syntax-check, context7-order-check, detect-secrets, sql-injection-check

📊 Final Başarı Raporu + Harita Sistemi Analizi
  BUGUNKU_FINAL_RAPOR_2025_12_02.md
Due: prettier

🧹 Cleanup: Removed deprecated models and optimized relationships for Context7 compliance
  resources/views/admin/ilanlar/create-wizard.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

docs: Update day 4 summary with table formatting improvements
  GUN_SONU_OZET_2025-12-04.md
Due: prettier

test: Add real listing - Yalıkavak luxury apartment
  GERCEK_ILAN_EKLEME_SCRIPT.php
  GERCEK_ILAN_EKLENDI_RAPOR.md
  ILAN_EKLEME_FINAL_STATUS.md
  WIZARD_TEST_RAPORU_2025-12-04.md
  ilan-ekle.php
Due: php-syntax-check, prettier, detect-secrets, sql-injection-check

fix: Add name accessor and appends for IlanKategoriYayinTipi model
  app/Models/IlanKategoriYayinTipi.php
Due: php-syntax-check, context7-order-check, detect-secrets, sql-injection-check

docs: Final day 4 report - clean code achieved
  FINAL_GUN_RAPORU_2025-12-04.md
  GERCEK_ILAN_EKLEME_SCRIPT.php
  app/Models/IlanKategoriYayinTipi.php
Due: php-syntax-check, context7-order-check, prettier, detect-secrets, sql-injection-check

fix: Change yayinTipi select from 'name' to 'yayin_tipi' column
  app/Http/Controllers/Admin/IlanController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

fix: Update all yayinTipi eager loading to use correct column name
  BUG_FIX_SUMMARY_2025-12-04.md
  app/Http/Controllers/IlanPublicController.php
Due: php-syntax-check, validation-consistency, prettier, detect-secrets, sql-injection-check

fix: Correct video render route naming (remove double prefix)
  TEMIZLIK_FINAL_RAPOR_2025-12-04.md
  routes/api/v1/ai.php
Due: php-syntax-check, prettier, detect-secrets, sql-injection-check

fix: Remove duplicate api prefix from routes/api.php
  routes/api.php
Due: php-syntax-check, detect-secrets, sql-injection-check

ui: Improve listing table layout - title above image, note below
  resources/views/admin/ilanlar/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

docs: Super final day report - 16.5 hour marathon complete
  GUN_SONU_SUPER_FINAL_2025-12-05.md
Due: prettier

feat: TKGM Learning Engine - AI-Powered Market Analysis System
  TKGM_LEARNING_ENGINE_TAMAMLANDI.md
  app/Http/Controllers/Admin/IlanController.php
  app/Http/Controllers/Api/MarketAnalysisController.php
  app/Models/TkgmLearningPattern.php
  app/Models/TkgmQuery.php
  app/Services/Integrations/TKGMService.php
  app/Services/Intelligence/TKGMLearningService.php
  database/migrations/2025_12_05_074351_create_tkgm_queries_table.php
  database/migrations/2025_12_05_074358_create_tkgm_learning_patterns_table.php
  routes/admin.php
  routes/api.php
  routes/api/v1/market-analysis.php
  yalihan-bekci/reports/ADMIN_ILANLAR_AUDIT_2025-12-05.md
Due: php-syntax-check, validation-consistency, context7-order-check, prettier, detect-secrets, sql-injection-check

fix: jQuery kullanımını Alpine.js ile değiştir (Context7 compliance)
  .githooks/pre-commit
  app/Http/Controllers/Admin/OzellikKategoriController.php
  config/api-endpoints.php
  docs/ADMIN_LAYOUT_STANDARDS.md
  docs/deployment/PRODUCTION_DEPLOYMENT_CHECKLIST.md
  docs/integrations/TELEGRAM_N8N_PRODUCTION_TEST_PLAN.md
  public/js/api-config.js
  resources/js/admin/ilan-create/categories.js
  resources/views/admin/analytics/context7-dashboard.blade.php
  resources/views/admin/analytics/dashboard.blade.php
  resources/views/admin/dashboard/index.blade.php
  resources/views/admin/ilanlar/edit-elegant.blade.php
  resources/views/admin/ilanlar/index.blade.php
  resources/views/admin/ilanlar/wizard/step-1-basic-info.blade.php
  resources/views/admin/property-type-manager/field-dependencies.blade.php
  routes/admin.php
  routes/api/v1/location.php
  scripts/check-admin-layouts.sh
  scripts/check-env.sh
  scripts/deploy-production.sh
  yalihan-bekci/reports/ADMIN_ILANLAR_AUDIT_2025-12-05.md
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, eslint, prettier, detect-secrets, sql-injection-check
