Repository ayhanbodrum/yalihan-cortex: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, eslint, prettier, detect-secrets, sql-injection-check

php-syntax-check:
  name: PHP Syntax Check
  entry: php -l
  language: system

blade-syntax-check:
  name: Blade Syntax Check
  entry: php artisan view:clear
  language: system
  pass_filenames: false

css-class-validator:
  name: CSS Class Validator
  entry: bash scripts/check-css-classes.sh
  language: system
  pass_filenames: false

validation-consistency:
  name: Validation Rules Consistency
  entry: php artisan validate:consistency
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

prettier:
  name: Prettier
  entry: npx prettier --write
  language: node

detect-secrets:
  name: Detect Secrets
  entry: bash scripts/check-secrets.sh
  language: system

sql-injection-check:
  name: SQL Injection Check
  entry: bash scripts/check-sql-injection.sh
  language: system

📚 GECE FİNAL: Tüm dökümanlar + git fresh start raporu
  BU-GECE-FINAL-OZET.md
  GIT-FRESH-START-RAPORU.md
Due: prettier

🧹 FRONTEND DETAYLI TEMİZLİK (PHASE 5)
  FRONTEND-DETAYLI-TARAMA-RAPORU.md
  resources/views/about.blade.php
  resources/views/ilanlar/index.blade.php
  resources/views/modern-listing-detail.blade.php
  resources/views/modern-listings.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, prettier, detect-secrets, sql-injection-check

🔧 BROKEN CSS LINKS DÜZELTİLDİ (4 adet)
  resources/views/vendor/admin-theme/layouts/app.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

📋 FRONTEND CSS KARARI: Tailwind CSS (ONAYLANDI!)
  FRONTEND-CSS-KARAR.md
  SIRADAKI-3-ADIM.md
Due: prettier

📋 FRONTEND CSS KARARI GÜNCELLENDI: Tailwind ONAYLANDI!
  GECE-FINAL-RAPOR-2025-11-04.md
Due: prettier

🤖 YALIHAN BEKÇİ: Gece çalışmaları öğretildi
  .yalihan-bekci/knowledge/gece-temizlik-ve-component-library-2025-11-04.json
  .yalihan-bekci/knowledge/tailwind-css-version-analysis-2025-11-04.md
Due: prettier

📊 TAILWIND V4.1 DETAYLI ANALİZ
  TAILWIND-V4-BETA-DETAYLI-ANALIZ.md
Due: prettier

⚠️ TAILWIND V4 MIGRATION BLOCKED: Vite 7 Conflict
  TAILWIND-V4-FRONTEND-STRATEJISI.md
  TAILWIND-V4-MIGRATION-SORUN.md
Due: prettier

🤖 YALIHAN BEKÇİ: Tailwind v4 Migration Blocked Öğretildi
  .yalihan-bekci/knowledge/tailwind-v4-migration-blocked-2025-11-04.json
  GECE-FINAL-OZET-2025-11-04.md
Due: prettier

📊 ÖZEL MODÜLLER DURUM RAPORU
  OZEL-MODULLER-DURUM-RAPORU-2025-11-04.md
Due: prettier

🌍 ÖZEL MODÜLLER EK RAPOR: WikiMapia, Yurt Dışı, Etiket
  OZEL-MODULLER-EK-RAPOR-2025-11-04.md
Due: prettier

🤖 YALIHAN BEKÇİ: 8 Özel Modül Öğretildi
  .yalihan-bekci/knowledge/ozel-moduller-8-adet-2025-11-04.json
Due: prettier

📋 PLANLAMALAR GÜNCELLENDİ: 8 Modül + API Entegrasyonları
  API-ENTEGRASYON-PLANI-2025-11-04.md
  SIRADA-YAPMAK-LISTE.md
  SIRADAKI-3-ADIM.md
Due: prettier

feat: 15 sayfa Neo→Tailwind migration tamamlandı 🎊
  12-SAYFA-HARDCORE-MODE-FINAL-2025-11-05.md
  15-SAYFA-LEGENDARY-FINAL-2025-11-05.md
  6-SAYFA-MIGRATION-FINAL-2025-11-05.md
  9-SAYFA-MIGRATION-FINAL-2025-11-05.md
  AI-CATEGORY-MIGRATION-REPORT-2025-11-05.md
  NEO-TO-TAILWIND-PATTERN-GUIDE.md
  PHASE3-PROGRESS-2025-11-05.md
  TALEPLER-INDEX-MIGRATION-REPORT-2025-11-05.md
  resources/views/admin/adres-yonetimi/index.blade.php
  resources/views/admin/ai-category/index.blade.php
  resources/views/admin/analytics/dashboard.blade.php
  resources/views/admin/ayarlar/edit.blade.php
  resources/views/admin/blog/posts/index.blade.php
  resources/views/admin/blog/posts/show.blade.php
  resources/views/admin/ilan-kategorileri/index.blade.php
  resources/views/admin/kisi-not/index.blade.php
  resources/views/admin/page-analyzer/dashboard.blade.php
  resources/views/admin/takvim/index.blade.php
  resources/views/admin/talep-portfolyo/index.blade.php
  resources/views/admin/talep-portfolyo/show.blade.php
  resources/views/admin/talepler/index.blade.php
  resources/views/admin/tkgm-parsel/index.blade.php
  resources/views/admin/yazlik-kiralama/index.blade.php
  yalihan-bekci/knowledge/context7-rules.json
  yalihan-bekci/knowledge/learned-errors.json
  yalihan-bekci/knowledge/system-memory.json
Due: php-syntax-check, blade-syntax-check, css-class-validator, prettier, detect-secrets, sql-injection-check

feat: 5 sayfa daha Neo→Tailwind migration - TOPLAM 20 SAYFA! 🎊
  resources/views/admin/ayarlar/index.blade.php
  resources/views/admin/bulk-kisi/index.blade.php
  resources/views/admin/danisman/index.blade.php
  resources/views/admin/ilan-kategorileri/edit.blade.php
  resources/views/admin/users/edit.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: 10 sayfa daha Neo to Tailwind migration - TOPLAM 30 SAYFA
  resources/views/admin/ai-redirect/index.blade.php
  resources/views/admin/analytics/show.blade.php
  resources/views/admin/blog/tags/index.blade.php
  resources/views/admin/dashboard/danisman.blade.php
  resources/views/admin/ilan-kategorileri/create.blade.php
  resources/views/admin/ozellikler/kategoriler/index.blade.php
  resources/views/admin/page-analyzer/index.blade.php
  resources/views/admin/reports/admin.blade.php
  resources/views/admin/reports/danisman.blade.php
  resources/views/admin/reports/user.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: 10 sayfa daha Neo to Tailwind - TOPLAM 40 SAYFA
  resources/views/admin/ai/advanced-dashboard.blade.php
  resources/views/admin/analyzer/dashboard.blade.php
  resources/views/admin/blog/categories/index.blade.php
  resources/views/admin/blog/comments/index.blade.php
  resources/views/admin/blog/posts/edit.blade.php
  resources/views/admin/etiket/index.blade.php
  resources/views/admin/kisi-not/show.blade.php
  resources/views/admin/locations/show.blade.php
  resources/views/admin/page-analyzer/show.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: 7 sayfa daha Neo to Tailwind - TOPLAM 47 SAYFA
  resources/views/admin/ai-redirect/show.blade.php
  resources/views/admin/ayarlar/create.blade.php
  resources/views/admin/ayarlar/show.blade.php
  resources/views/admin/etiket/show.blade.php
  resources/views/admin/feature-categories/show.blade.php
  resources/views/admin/kisi-not/edit.blade.php
  resources/views/admin/users/create.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: Son 3 sayfa Neo to Tailwind - 50 SAYFA HEDEF TAMAMLANDI
  resources/views/admin/address/index.blade.php
  resources/views/admin/kisi-not/create.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

docs: 50 sayfa migration final raporu eklendi
  50-SAYFA-ULTIMATE-FINAL-2025-11-05.md
Due: prettier

feat: 3 Neo component modernize edildi
  resources/views/components/admin/neo-loading.blade.php
  resources/views/components/admin/neo-skeleton.blade.php
  resources/views/components/admin/neo-toast.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: Tabs ve Accordion component olusturuldu
  resources/views/admin/components/demo.blade.php
  resources/views/components/admin/accordion-item.blade.php
  resources/views/components/admin/accordion.blade.php
  resources/views/components/admin/tabs.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: 13 sayfa daha Neo to Tailwind - TOPLAM 63 SAYFA
  resources/views/admin/ai-redirect/create.blade.php
  resources/views/admin/ai-redirect/edit.blade.php
  resources/views/admin/components/context7-components.blade.php
  resources/views/admin/danisman/edit.blade.php
  resources/views/admin/eslesme/index.blade.php
  resources/views/admin/etiket/create.blade.php
  resources/views/admin/etiket/edit.blade.php
  resources/views/admin/feature-categories/index.blade.php
  resources/views/admin/ilanlar/create.blade.php
  resources/views/admin/ilanlar/partials/yazlik-features.blade.php
  resources/views/admin/reports/ilanlar.blade.php
  resources/views/admin/reports/musteriler.blade.php
  resources/views/admin/telegram/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

feat: Add 5 major features - Component Library, Settings System, Location APIs, WikiMapia UI, TCMB Currency
  AYARLAR-CREATE-ANALIZ.md
  AYARLAR-SISTEM-UPGRADE-2025-11-05.md
  COMPONENT-LIBRARY-GUIDE.md
  COMPONENT-USAGE-EXAMPLES.md
  README.md
  TCMB-KUR-API-RAPOR-2025-11-05.md
  TURKIYEAPI-WIKIMAPIA-ENTEGRASYON-2025-11-05.md
  app/Console/Commands/UpdateExchangeRates.php
  app/Console/Kernel.php
  app/Helpers/settings_helper.php
  app/Http/Controllers/Admin/AyarlarController.php
  app/Http/Controllers/Api/ExchangeRateController.php
  app/Http/Controllers/Api/LocationController.php
  app/Models/ExchangeRate.php
  app/Models/Ilan.php
  app/Models/Setting.php
  app/Services/TCMBCurrencyService.php
  app/Services/TurkiyeAPIService.php
  app/Services/UnifiedLocationService.php
  composer.json
  database/migrations/2025_11_04_113608_add_tcmb_fields_to_exchange_rates_table.php
  database/migrations/2025_11_05_000001_add_turkiyeapi_fields_to_ilanlar.php
  public/js/exchange-rate-widget.js
  public/js/unified-location-manager.js
  resources/views/admin/ayarlar/create.blade.php
  resources/views/admin/components-demo.blade.php
  resources/views/admin/wikimapia-search/index.blade.php
  resources/views/components/admin/exchange-rate-widget.blade.php
  resources/views/components/admin/file-upload.blade.php
  resources/views/components/admin/modal.blade.php
  routes/admin.php
  routes/api-location.php
  routes/api.php
  yalihan-bekci/knowledge/component-library-2025-11-05.json
  yalihan-bekci/knowledge/context7-rules.json
  yalihan-bekci/knowledge/learned-errors.json
  yalihan-bekci/knowledge/settings-system-upgrade-2025-11-05.json
  yalihan-bekci/knowledge/system-memory.json
  yalihan-bekci/knowledge/tcmb-exchange-rates-integration-2025-11-05.json
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, eslint, prettier, detect-secrets, sql-injection-check

feat: WikiMapia site/apartman kaydetme özelliği eklendi
  app/Http/Controllers/Admin/WikimapiaSearchController.php
  app/Models/SiteApartman.php
  app/Providers/TelescopeServiceProvider.php
  database/migrations/2025_11_04_163654_add_latitude_longitude_to_site_apartmanlar_table.php
  resources/views/admin/wikimapia-search/index.blade.php
  routes/admin.php
  yalihan-bekci/knowledge/wikimapia-site-kaydetme-2025-11-05.json
Due: php-syntax-check, blade-syntax-check, css-class-validator, validation-consistency, prettier, detect-secrets, sql-injection-check

docs: Yalıhan Bekçi'ye WikiMapia site kaydetme özelliği öğretildi
  yalihan-bekci/knowledge/system-memory.json
Due: prettier

docs: Status kolonu hatası Yalıhan Bekçi'ye öğretildi - Context7 yasaklı komutlar eklendi
  yalihan-bekci/knowledge/status-column-missing-error-2025-11-05.json
Due: prettier

📚 Yalıhan Bekçi: 15 yeni öğrenme dosyası eklendi
  .yalihan-bekci/knowledge/alt-kategori-yayin-tipi-tablo-duzeltmesi-2025-11-05.json
  .yalihan-bekci/knowledge/arsa-yayin-tipi-iliski-olusturma-2025-11-05.json
  .yalihan-bekci/knowledge/category-id-error-analysis-2025-11-05.json
  .yalihan-bekci/knowledge/comprehensive-system-analysis-2025-11-05.json
  .yalihan-bekci/knowledge/context7-yazlik-improvements-summary-2025-11-05.json
  .yalihan-bekci/knowledge/dizin-temizlik-raporu-2025-11-05.json
  .yalihan-bekci/knowledge/dizin-temizlik-tamamlandi-2025-11-05.json
  .yalihan-bekci/knowledge/documentation-context7-cleanup-2025-11-05.json
  .yalihan-bekci/knowledge/ilan-yonetimi-ai-yayin-tipi-analiz-2025-11-05.json
  .yalihan-bekci/knowledge/property-type-manager-seviye-duzeltmesi-2025-11-05.json
  .yalihan-bekci/knowledge/tailwind-css-master-framework-2025-11-05.json
  .yalihan-bekci/knowledge/tum-veriler-eklendi-2025-11-05.json
  .yalihan-bekci/knowledge/yazlik-kiralama-analysis-2025-11-05.json
  .yalihan-bekci/knowledge/yazlik-kiralama-eloquent-improvements-2025-11-05.json
  .yalihan-bekci/knowledge/yazlik-ozellik-iliskilendirme-tamamlandi-2025-11-05.json
Due: prettier

🗄️ Database: 13 yeni seeder ve migration eklendi
  database/migrations/2025_11_05_000001_create_feature_assignments_table.php
  database/seeders/AIProviderSettingsSeeder.php
  database/seeders/ArsaIsyeriYayinTipiSeeder.php
  database/seeders/Context7MasterSeeder.php
  database/seeders/IlanYayinTipiSeeder.php
  database/seeders/KonutYazlikYayinTipiSeeder.php
  database/seeders/MuglaAydinLocationSeeder.php
  database/seeders/ProjeOzellikIliskilendirmeSeeder.php
  database/seeders/ProjeOzellikleriSeeder.php
  database/seeders/YazlikKiralikAnaKategoriSeeder.php
  database/seeders/YazlikKiralikOzellikIliskilendirmeSeeder.php
  database/seeders/YazlikOzellikIliskilendirmeSeeder.php
  database/seeders/YazlikSezonSeeder.php
  database/seeders/YazlikVillaOzellikleriSeeder.php
Due: php-syntax-check, detect-secrets, sql-injection-check

🚀 Feature: Yeni Services ve Controllers eklendi
  app/Http/Controllers/Admin/YayinTipiYoneticisiController.php
  app/Services/NominatimService.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

🎨 UI: Yayın Tipi Yöneticisi view'ları eklendi
  resources/views/admin/yayin-tipi-yoneticisi/index.blade.php
Due: php-syntax-check, blade-syntax-check, css-class-validator, detect-secrets, sql-injection-check

🧪 Test: WikiMapia test dosyaları ve .cursorrules eklendi
  .cursorrules
  public/wikimapia-simple-test.php
  public/wikimapia-test.php
Due: php-syntax-check, detect-secrets, sql-injection-check

feat: DB::table() → Eloquent migration (%63.6 tamamlandı)
  .env.backup_20251104_211453
  app/Http/Controllers/Admin/AnalyticsController.php
  app/Http/Controllers/Admin/IlanKategoriController.php
  app/Http/Controllers/Admin/PropertyTypeManagerController.php
  app/Http/Controllers/Api/CategoriesController.php
  app/Http/Controllers/Api/ListingSearchController.php
  app/Http/Controllers/Api/LocationController.php
  app/Http/Controllers/IlanPublicController.php
  app/Services/AICategoryManager.php
  app/Services/AIService.php
  app/Services/FieldRegistryService.php
  app/Services/PropertyValuationService.php
  app/Services/SmartFieldGenerationService.php
  storage/framework/sessions/ME1GnPbbkl3WSO1S0sV2PvK03rL6yp1qdp4xSYqf
  storage/framework/views/039f2e21de95779a857ba2808324fe43.php
  storage/framework/views/13b6c81b2904615761282cf15415da60.php
  storage/framework/views/181a522230628d7e4ca2e68fc5a92682.php
  storage/framework/views/2c20dafe6dbdb25271dd6d102e8d0ed6.php
  storage/framework/views/2dcacca4060a3bce44feee3e6ce3fa33.php
  storage/framework/views/5ed408e0b084f31e4d58729546652a00.php
  storage/framework/views/72a988cab0c9f03f319ee62f14441972.php
  storage/framework/views/800faefd9564ea920e1f66080ba54f3a.php
  storage/framework/views/b6742777c944a45480a1632d054c6d23.php
  storage/framework/views/c62b04ee7afdc8f48030c0e347bfeec0.php
  storage/framework/views/ca98a08100a056119c473b549791e6d8.php
  storage/framework/views/ddda7add9ef99face3c05503c992bf87.php
  storage/framework/views/f16d62f6049927995704b544dc5322a4.php
  storage/framework/views/f29a8c84b271e9a0dfdd0147534161e3.php
  yalihan-bekci/knowledge/context7-rules.json
  yalihan-bekci/knowledge/learned-errors.json
  yalihan-bekci/knowledge/system-memory.json
Due: php-syntax-check, validation-consistency, prettier, detect-secrets, sql-injection-check

feat: Complete DB::table() → Eloquent migration (52/55, 94.5%)
  app/Http/Controllers/Admin/PropertyTypeManagerController.php
  app/Models/AICoreSystem.php
  app/Models/AILearningData.php
  app/Models/AIStorage.php
  app/Models/AltKategoriYayinTipi.php
  app/Models/KonutOzellikHibritSiralama.php
  app/Services/AICoreSystem.php
  app/Services/AILearningEngine.php
  app/Services/AIPromptManager.php
  app/Services/AIService.php
  app/Services/FlexibleStorageManager.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

feat: Complete DB::table() → Eloquent migration (100%)
  app/Http/Controllers/Api/ListingSearchController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

perf: Add eager loading to IlanController@index to prevent N+1 queries
  app/Http/Controllers/Admin/IlanController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

perf: Optimize IlanController and IlanPublicController N+1 queries
  app/Http/Controllers/Admin/IlanController.php
  app/Http/Controllers/IlanPublicController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

perf: Add eager loading to DashboardController to prevent N+1 queries
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/IlanPublicController.php
Due: php-syntax-check, validation-consistency, detect-secrets, sql-injection-check

Path conditions:
  php-syntax-check: any of: \.php$
  blade-syntax-check: any of: \.blade\.php$
  css-class-validator: any of: \.blade\.php$
  validation-consistency: any of: (Controller\.php|Request\.php)$
  eslint: any of: \.(js|ts|vue)$
  prettier: any of: \.(js|ts|css|scss|json|md)$
  detect-secrets: any of: \.(php|js|env|yml|yaml)$
  sql-injection-check: any of: \.php$
